In [2]:
#Import Modules
import pandas as pd
import csv
import mysql.connector
from getpass import getpass
from mysql.connector import connect, Error

In [3]:
#Mysql Connect
try:
    with connect(
        host = "localhost",
        user = input ("Enter user name:"),
        password = getpass ("Enter Password:"),
        database = "Expense_Tracker"
    )as connection:
        print(connection)

except Error as e:
    print(e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A308BFDE90>

In [4]:
connection.reconnect()

In [4]:
df = pd.read_csv ("Per_Exp_Track.csv")
print(df.head())
print(f"Total rows in CSV: {len(df)}")

         Date   Categories  Paymentmode Description   Amount  Cashback
0  2024-01-10  Subcription          UPI     Spotify   546.18      6.38
1  2024-01-10         Fees  Credit Card     Termfee   958.56      5.59
2  2024-01-07         Fees         Cash      Semfee  1571.84      0.55
3  2024-01-19  Subcription  Credit Card     Spotify   239.68      5.63
4  2024-01-14        Bills         NEFT          EB  1236.30      3.12
Total rows in CSV: 1200

In [63]:
#Create Database
create_db_query = "CREATE DATABASE IF NOT EXISTS Expense_Tracker"

with connection.cursor() as cursor:
    cursor.execute(create_db_query)

In [121]:
# create table

create_tables = """
CREATE TABLE per_exp_track(
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Date DATE NOT NULL,
    Categories VARCHAR(300),
    Paymentmode VARCHAR(100),
    Description TEXT,
    Amount DECIMAL(10,2) NOT NULL,
    Cashback DECIMAL(10, 2) NOT NULL
)
"""
with connection.cursor() as cursor:
    cursor.execute(create_tables, multi=True)
    connection.commit()

ProgrammingError: 1050 (42S01): Table 'per_exp_track' already exists

In [59]:
#Data insert into Mysql table

insert_query = """
INSERT INTO per_exp_track(Date, Categories, Paymentmode, Description, Amount, Cashback)
VALUES(%s, %s, %s, %s, %s, %s)
"""
#Insert Query
batch_size = 1200
data_to_insert = []
for i, row in df.iterrows():
    data_to_insert.append((row['Date'], row['Categories'], row['Paymentmode'], row['Description'], row['Amount'], row['Cashback'],))

with connection.cursor() as cursor:
    cursor.executemany(insert_query, data_to_insert)
    connection.commit()

print (f"{cursor.rowcount} CSV data succesfully inserted Mysql Databases")

1200 CSV data succesfully inserted Mysql Databases

In [33]:
connection.reconnect

In [12]:
#Delete the Duplicate Entries
delete_dup_datas = """
SELECT Date, Categories, Paymentmode, Description, Amount, Cashback, COUNT(*) AS DuplicateCount
FROM per_exp_track
GROUP BY Date, Categories, Paymentmode, Description, Amount, Cashback
HAVING COUNT(*) > 1
"""

with connection.cursor() as cursor:
    cursor.execute(delete_dup_datas)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(datetime.date(2024, 6, 12), 'Subscription', 'UPI', 'Netflix', Decimal('639.00'), Decimal('5.00'), 2)

In [35]:
#Total Expense for the year
total_exp = """
SELECT SUM(Amount) AS TotalExpense FROM per_exp_track
"""

with connection.cursor() as cursor:
    cursor.execute(total_exp)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(Decimal('1203192.05'),)

In [36]:
#Total Cashback
cb_query = """
SELECT SUM(Cashback) AS TotalCashback FROM per_exp_track
"""

with connection.cursor() as cursor:
    cursor.execute(cb_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(Decimal('6048.34'),)

In [31]:
#Max Amount Query
max_query = """
SELECT MAX(Amount) AS Maxexpamount FROM per_exp_track
"""

with connection.cursor() as cursor:
    cursor.execute(max_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(Decimal('1999.62'),)

In [37]:
#Avg Amount Query
avg_query = """
SELECT AVG(Amount) AS Avgamount FROM per_exp_track
"""

with connection.cursor() as cursor:
    cursor.execute(avg_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(Decimal('1000.159643'),)

In [54]:
#Total Expenses for 12 Months
Total_exp_month = """
SELECT DATE_FORMAT(Date, '%Y-%m') AS Month, SUM(Amount) AS Total_Expense 
FROM per_exp_track
WHERE Date >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH) 
GROUP BY DATE_FORMAT(Date, '%Y-%m') 
ORDER BY Month ASC
"""

with connection.cursor() as cursor:
    cursor.execute(Total_exp_month)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('2024-01', Decimal('62775.94'))
('2024-02', Decimal('97239.92'))
('2024-03', Decimal('106992.85'))
('2024-04', Decimal('98568.74'))
('2024-05', Decimal('109724.92'))
('2024-06', Decimal('107992.33'))
('2024-07', Decimal('91046.20'))
('2024-08', Decimal('99067.16'))
('2024-09', Decimal('97970.11'))
('2024-10', Decimal('99642.56'))
('2024-11', Decimal('104218.67'))
('2024-12', Decimal('91670.97'))

In [38]:
#>Amount Rs.1000/-
great_amount_query = """
SELECT * FROM per_exp_track
WHERE Amount > 1000
"""

with connection.cursor() as cursor:
    cursor.execute(great_amount_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(1, datetime.date(2024, 1, 3), 'Subcription', 'Credit Card', 'Amazonprime', Decimal('1894.91'), Decimal('6.23'))
(4, datetime.date(2024, 1, 12), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1604.39'), Decimal('8.31'))
(5, datetime.date(2024, 1, 4), 'Health', 'Cash', 'Health Drinks', Decimal('1178.74'), Decimal('9.33'))
(7, datetime.date(2024, 1, 11), 'Bills', 'NEFT', 'EB', Decimal('1732.55'), Decimal('7.67'))
(9, datetime.date(2024, 1, 31), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1120.84'), Decimal('5.17'))
(10, datetime.date(2024, 1, 30), 'Subcription', 'NEFT', 'Amazonprime', Decimal('1007.73'), Decimal('9.41'))
(11, datetime.date(2024, 1, 9), 'Subcription', 'Cash', 'Amazonprime', Decimal('1550.59'), Decimal('7.93'))
(15, datetime.date(2024, 1, 22), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1888.09'), Decimal('4.80'))
(17, datetime.date(2024, 1, 10), 'Shopping', 'UPI', 'New Furnitures', Decimal('1120.00'), Decimal('2.81'))
(18, datetime.date(2024, 1, 26), 'Shopping', 'Cash', 'New Furnitures', Decimal('1737.12'), Decimal('7.24'))
(21, datetime.date(2024, 1, 26), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1352.14'), Decimal('1.02'))
(22, datetime.date(2024, 1, 28), 'Health', 'UPI', 'Bought Medicine', Decimal('1055.55'), Decimal('2.22'))
(24, datetime.date(2024, 1, 24), 'Fees', 'NEFT', 'Coursefee', Decimal('1919.83'), Decimal('8.04'))
(28, datetime.date(2024, 1, 23), 'Bills', 'Cash', 'Cable', Decimal('1315.76'), Decimal('9.79'))
(29, datetime.date(2024, 1, 12), 'Investments', 'Cash', 'Insurance', Decimal('1936.26'), Decimal('7.66'))
(30, datetime.date(2024, 1, 3), 'Shopping', 'Credit Card', 'Kitchen Things', Decimal('1990.73'), Decimal('2.49'))
(37, datetime.date(2024, 1, 7), 'Subcription', 'UPI', 'Amazonprime', Decimal('1120.63'), Decimal('0.87'))
(38, datetime.date(2024, 1, 1), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1974.14'), Decimal('9.15'))
(39, datetime.date(2024, 1, 29), 'Health', 'NEFT', 'Nutrition', Decimal('1148.95'), Decimal('9.68'))
(43, datetime.date(2024, 1, 21), 'Health', 'NEFT', 'Gym Workout', Decimal('1210.77'), Decimal('7.25'))
(46, datetime.date(2024, 1, 8), 'Subcription', 'Credit Card', 'Amazonprime', Decimal('1658.22'), Decimal('2.06'))
(48, datetime.date(2024, 1, 24), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1139.98'), Decimal('2.36'))
(52, datetime.date(2024, 1, 1), 'Fees', 'NEFT', 'Coursefee', Decimal('1518.73'), Decimal('3.01'))
(53, datetime.date(2024, 1, 10), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1917.89'), Decimal('0.90'))
(55, datetime.date(2024, 1, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1479.04'), Decimal('1.96'))
(57, datetime.date(2024, 1, 23), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1237.42'), Decimal('9.56'))
(58, datetime.date(2024, 1, 1), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1952.63'), Decimal('7.98'))
(60, datetime.date(2024, 1, 24), 'Fees', 'Cash', 'Semfee', Decimal('1152.37'), Decimal('7.74'))
(61, datetime.date(2024, 1, 11), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1329.09'), Decimal('1.24'))
(62, datetime.date(2024, 1, 22), 'Fees', 'NEFT', 'Coursefee', Decimal('1949.12'), Decimal('1.21'))
(64, datetime.date(2024, 1, 9), 'Fees', 'Credit Card', 'Termfee', Decimal('1459.64'), Decimal('9.92'))
(65, datetime.date(2024, 1, 8), 'Subcription', 'NEFT', 'Amazonprime', Decimal('1934.65'), Decimal('3.77'))
(66, datetime.date(2024, 1, 5), 'Shopping', 'Cash', 'New Gadgets', Decimal('1766.61'), Decimal('6.31'))
(68, datetime.date(2024, 1, 6), 'Subcription', 'Credit Card', 'Hotstar', Decimal('1426.25'), Decimal('0.95'))
(70, datetime.date(2024, 1, 22), 'Bills', 'UPI', 'EB', Decimal('1235.11'), Decimal('7.74'))
(72, datetime.date(2024, 1, 21), 'Health', 'Credit Card', 'Nutrition', Decimal('1009.73'), Decimal('8.34'))
(74, datetime.date(2024, 1, 25), 'Shopping', 'NEFT', 'New Furnitures', Decimal('1490.17'), Decimal('2.53'))
(75, datetime.date(2024, 1, 4), 'Shopping', 'UPI', 'Kitchen Things', Decimal('1133.36'), Decimal('9.59'))
(78, datetime.date(2024, 1, 29), 'Shopping', 'Cash', 'Electronic Things', Decimal('1699.69'), Decimal('8.34'))
(83, datetime.date(2024, 1, 26), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1472.92'), Decimal('2.27'))
(84, datetime.date(2024, 1, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1688.80'), Decimal('0.57'))
(85, datetime.date(2024, 1, 11), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1193.42'), Decimal('1.44'))
(87, datetime.date(2024, 1, 29), 'Bills', 'Cash', 'Gas', Decimal('1903.78'), Decimal('1.28'))
(92, datetime.date(2024, 1, 9), 'Fees', 'Credit Card', 'Coursefee', Decimal('1254.18'), Decimal('3.30'))
(95, datetime.date(2024, 1, 12), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1149.96'), Decimal('2.03'))
(96, datetime.date(2024, 1, 26), 'Subcription', 'UPI', 'Hotstar', Decimal('1900.73'), Decimal('2.10'))
(98, datetime.date(2024, 1, 25), 'Fees', 'Credit Card', 'Termfee', Decimal('1532.24'), Decimal('9.40'))
(100, datetime.date(2024, 1, 19), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1510.39'), Decimal('9.56'))
(101, datetime.date(2024, 2, 17), 'Bills', 'NEFT', 'Mobile', Decimal('1951.91'), Decimal('0.53'))
(102, datetime.date(2024, 2, 12), 'Health', 'Cash', 'Health Drinks', Decimal('1895.46'), Decimal('3.89'))
(103, datetime.date(2024, 2, 21), 'Bills', 'Cash', 'Gas', Decimal('1091.23'), Decimal('7.46'))
(107, datetime.date(2024, 2, 9), 'Bills', 'Cash', 'EB', Decimal('1409.71'), Decimal('1.37'))
(109, datetime.date(2024, 2, 8), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1563.13'), Decimal('4.80'))
(110, datetime.date(2024, 2, 25), 'Shopping', 'Credit Card', 'New Furnitures', Decimal('1016.14'), Decimal('0.79'))
(113, datetime.date(2024, 2, 3), 'Health', 'Cash', 'Health Drinks', Decimal('1772.48'), Decimal('5.76'))
(114, datetime.date(2024, 2, 16), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1992.11'), Decimal('0.05'))
(120, datetime.date(2024, 2, 9), 'Fees', 'Credit Card', 'Coursefee', Decimal('1475.56'), Decimal('5.77'))
(121, datetime.date(2024, 2, 19), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('1038.71'), Decimal('5.09'))
(125, datetime.date(2024, 2, 26), 'Investments', 'UPI', 'Postoffice', Decimal('1953.93'), Decimal('2.63'))
(126, datetime.date(2024, 2, 28), 'Shopping', 'UPI', 'New Gadgets', Decimal('1801.02'), Decimal('9.49'))
(128, datetime.date(2024, 2, 18), 'Shopping', 'Cash', 'Electronic Things', Decimal('1090.27'), Decimal('2.23'))
(129, datetime.date(2024, 2, 11), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1133.77'), Decimal('1.77'))
(130, datetime.date(2024, 2, 6), 'Shopping', 'NEFT', 'New Gadgets', Decimal('1024.80'), Decimal('2.06'))
(132, datetime.date(2024, 2, 27), 'Bills', 'Cash', 'Gas', Decimal('1482.43'), Decimal('6.33'))
(134, datetime.date(2024, 2, 26), 'Fees', 'Cash', 'Termfee', Decimal('1288.45'), Decimal('8.89'))
(136, datetime.date(2024, 2, 25), 'Health', 'Cash', 'Gym Workout', Decimal('1177.19'), Decimal('9.59'))
(139, datetime.date(2024, 2, 19), 'Health', 'NEFT', 'Health Drinks', Decimal('1229.96'), Decimal('1.21'))
(142, datetime.date(2024, 2, 29), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1930.49'), Decimal('8.88'))
(143, datetime.date(2024, 2, 8), 'Shopping', 'UPI', 'Electronic Things', Decimal('1225.36'), Decimal('7.62'))
(145, datetime.date(2024, 2, 22), 'Shopping', 'NEFT', 'Purchase New Cloth', Decimal('1033.69'), Decimal('3.14'))
(147, datetime.date(2024, 2, 7), 'Subcription', 'NEFT', 'Hotstar', Decimal('1181.98'), Decimal('4.08'))
(148, datetime.date(2024, 2, 8), 'Investments', 'Cash', 'RD', Decimal('1854.00'), Decimal('5.12'))
(150, datetime.date(2024, 2, 20), 'Bills', 'UPI', 'Wifi', Decimal('1461.07'), Decimal('4.65'))
(152, datetime.date(2024, 2, 17), 'Shopping', 'NEFT', 'Kitchen Things', Decimal('1827.75'), Decimal('8.95'))
(153, datetime.date(2024, 2, 10), 'Fees', 'NEFT', 'Semfee', Decimal('1829.62'), Decimal('9.26'))
(154, datetime.date(2024, 2, 22), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1841.29'), Decimal('8.35'))
(157, datetime.date(2024, 2, 7), 'Fees', 'NEFT', 'Coursefee', Decimal('1439.12'), Decimal('7.73'))
(161, datetime.date(2024, 2, 17), 'Investments', 'Credit Card', 'RD', Decimal('1921.04'), Decimal('6.46'))
(166, datetime.date(2024, 2, 6), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1262.67'), Decimal('5.29'))
(170, datetime.date(2024, 2, 29), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1379.53'), Decimal('2.48'))
(173, datetime.date(2024, 2, 19), 'Shopping', 'UPI', 'Kitchen Things', Decimal('1816.20'), Decimal('5.27'))
(176, datetime.date(2024, 2, 24), 'Bills', 'NEFT', 'Mobile', Decimal('1527.36'), Decimal('1.46'))
(179, datetime.date(2024, 2, 16), 'Health', 'Credit Card', 'Doctor Consultation', Decimal('1068.40'), Decimal('1.46'))
(180, datetime.date(2024, 2, 22), 'Investments', 'NEFT', 'Insurance', Decimal('1770.59'), Decimal('8.90'))
(182, datetime.date(2024, 2, 22), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1128.24'), Decimal('1.71'))
(184, datetime.date(2024, 2, 26), 'Subcription', 'Credit Card', 'Amazonprime', Decimal('1005.44'), Decimal('5.73'))
(186, datetime.date(2024, 2, 8), 'Investments', 'Credit Card', 'Insurance', Decimal('1203.79'), Decimal('1.23'))
(188, datetime.date(2024, 2, 7), 'Subcription', 'UPI', 'Spotify', Decimal('1467.66'), Decimal('2.10'))
(189, datetime.date(2024, 2, 6), 'Shopping', 'Credit Card', 'Purchase New Cloth', Decimal('1963.34'), Decimal('0.22'))
(190, datetime.date(2024, 2, 25), 'Fees', 'NEFT', 'Coursefee', Decimal('1632.49'), Decimal('4.89'))
(192, datetime.date(2024, 2, 10), 'Health', 'UPI', 'Health Drinks', Decimal('1931.04'), Decimal('4.80'))
(193, datetime.date(2024, 2, 26), 'Shopping', 'NEFT', 'Kitchen Things', Decimal('1056.47'), Decimal('3.79'))
(197, datetime.date(2024, 2, 11), 'Shopping', 'UPI', 'Electronic Things', Decimal('1306.46'), Decimal('6.88'))
(198, datetime.date(2024, 2, 8), 'Health', 'UPI', 'Gym Workout', Decimal('1324.98'), Decimal('5.30'))
(204, datetime.date(2024, 3, 12), 'Bills', 'NEFT', 'EB', Decimal('1926.70'), Decimal('8.61'))
(205, datetime.date(2024, 3, 31), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1064.91'), Decimal('5.04'))
(210, datetime.date(2024, 3, 8), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1385.43'), Decimal('5.83'))
(214, datetime.date(2024, 3, 15), 'Health', 'NEFT', 'Bought Medicine', Decimal('1381.43'), Decimal('7.52'))
(215, datetime.date(2024, 3, 26), 'Shopping', 'NEFT', 'New Furnitures', Decimal('1049.49'), Decimal('7.64'))
(217, datetime.date(2024, 3, 4), 'Subcription', 'UPI', 'Spotify', Decimal('1466.29'), Decimal('9.45'))
(218, datetime.date(2024, 3, 4), 'Investments', 'NEFT', 'RD', Decimal('1283.26'), Decimal('4.58'))
(219, datetime.date(2024, 3, 30), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1581.77'), Decimal('6.87'))
(221, datetime.date(2024, 3, 15), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1050.88'), Decimal('3.72'))
(222, datetime.date(2024, 3, 8), 'Bills', 'NEFT', 'Houserent', Decimal('1983.47'), Decimal('0.26'))
(223, datetime.date(2024, 3, 5), 'Fees', 'NEFT', 'Termfee', Decimal('1512.21'), Decimal('0.83'))
(224, datetime.date(2024, 3, 15), 'Subcription', 'Credit Card', 'Spotify', Decimal('1667.67'), Decimal('6.03'))
(225, datetime.date(2024, 3, 18), 'Health', 'Cash', 'Gym Workout', Decimal('1978.91'), Decimal('8.80'))
(226, datetime.date(2024, 3, 7), 'Investments', 'NEFT', 'RD', Decimal('1696.81'), Decimal('0.02'))
(230, datetime.date(2024, 3, 20), 'Investments', 'UPI', 'Postoffice', Decimal('1320.82'), Decimal('0.36'))
(232, datetime.date(2024, 3, 16), 'Bills', 'NEFT', 'Houserent', Decimal('1558.21'), Decimal('1.98'))
(234, datetime.date(2024, 3, 9), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1609.91'), Decimal('9.61'))
(237, datetime.date(2024, 3, 29), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1492.03'), Decimal('9.26'))
(240, datetime.date(2024, 3, 11), 'Health', 'UPI', 'Doctor Consultation', Decimal('1684.37'), Decimal('5.73'))
(242, datetime.date(2024, 3, 6), 'Shopping', 'NEFT', 'Kitchen Things', Decimal('1306.74'), Decimal('8.35'))
(243, datetime.date(2024, 3, 21), 'Shopping', 'Cash', 'New Furnitures', Decimal('1780.48'), Decimal('2.07'))
(246, datetime.date(2024, 3, 24), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('1920.54'), Decimal('8.14'))
(248, datetime.date(2024, 3, 12), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1369.25'), Decimal('2.95'))
(249, datetime.date(2024, 3, 13), 'Investments', 'NEFT', 'Insurance', Decimal('1713.84'), Decimal('6.99'))
(250, datetime.date(2024, 3, 12), 'Investments', 'NEFT', 'Postoffice', Decimal('1093.62'), Decimal('3.14'))
(251, datetime.date(2024, 3, 4), 'Subcription', 'Credit Card', 'Amazonprime', Decimal('1260.78'), Decimal('7.53'))
(254, datetime.date(2024, 3, 8), 'Shopping', 'Credit Card', 'New Gadgets', Decimal('1824.56'), Decimal('2.64'))
(258, datetime.date(2024, 3, 26), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1999.62'), Decimal('8.91'))
(260, datetime.date(2024, 3, 29), 'Shopping', 'Credit Card', 'Electronic Things', Decimal('1210.80'), Decimal('6.72'))
(263, datetime.date(2024, 3, 10), 'Shopping', 'Cash', 'Kitchen Things', Decimal('1675.51'), Decimal('0.71'))
(264, datetime.date(2024, 3, 25), 'Investments', 'Credit Card', 'RD', Decimal('1966.51'), Decimal('3.77'))
(266, datetime.date(2024, 3, 25), 'Investments', 'NEFT', 'Postoffice', Decimal('1628.21'), Decimal('4.98'))
(267, datetime.date(2024, 3, 17), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1590.20'), Decimal('9.11'))
(268, datetime.date(2024, 3, 4), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1020.43'), Decimal('6.84'))
(269, datetime.date(2024, 3, 24), 'Investments', 'UPI', 'RD', Decimal('1193.99'), Decimal('8.52'))
(270, datetime.date(2024, 3, 15), 'Investments', 'UPI', 'Insurance', Decimal('1649.29'), Decimal('3.27'))
(272, datetime.date(2024, 3, 18), 'Shopping', 'NEFT', 'Kitchen Things', Decimal('1371.92'), Decimal('6.58'))
(275, datetime.date(2024, 3, 5), 'Subcription', 'UPI', 'Amazonprime', Decimal('1446.50'), Decimal('7.47'))
(276, datetime.date(2024, 3, 23), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1346.21'), Decimal('5.04'))
(278, datetime.date(2024, 3, 30), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1372.91'), Decimal('9.78'))
(280, datetime.date(2024, 3, 26), 'Subcription', 'Cash', 'Spotify', Decimal('1723.34'), Decimal('8.41'))
(283, datetime.date(2024, 3, 13), 'Subcription', 'Credit Card', 'Spotify', Decimal('1376.95'), Decimal('4.12'))
(284, datetime.date(2024, 3, 24), 'Health', 'UPI', 'Doctor Consultation', Decimal('1905.38'), Decimal('3.29'))
(285, datetime.date(2024, 3, 25), 'Shopping', 'UPI', 'Kitchen Things', Decimal('1946.63'), Decimal('3.20'))
(286, datetime.date(2024, 3, 13), 'Fees', 'Cash', 'Termfee', Decimal('1172.72'), Decimal('7.34'))
(287, datetime.date(2024, 3, 15), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1619.89'), Decimal('0.91'))
(290, datetime.date(2024, 3, 4), 'Health', 'Credit Card', 'Bought Medicine', Decimal('1144.43'), Decimal('7.62'))
(291, datetime.date(2024, 3, 27), 'Shopping', 'Credit Card', 'Electronic Things', Decimal('1376.25'), Decimal('6.24'))
(292, datetime.date(2024, 3, 2), 'Health', 'Cash', 'Doctor Consultation', Decimal('1850.16'), Decimal('4.11'))
(293, datetime.date(2024, 3, 24), 'Bills', 'Credit Card', 'Wifi', Decimal('1837.31'), Decimal('9.53'))
(295, datetime.date(2024, 3, 3), 'Subcription', 'Cash', 'Spotify', Decimal('1740.00'), Decimal('8.48'))
(296, datetime.date(2024, 3, 18), 'Health', 'Credit Card', 'Health Drinks', Decimal('1795.91'), Decimal('5.25'))
(297, datetime.date(2024, 3, 25), 'Health', 'Credit Card', 'Gym Workout', Decimal('1737.85'), Decimal('6.86'))
(302, datetime.date(2024, 4, 10), 'Investments', 'NEFT', 'RD', Decimal('1112.55'), Decimal('7.87'))
(308, datetime.date(2024, 4, 24), 'Fees', 'NEFT', 'Coursefee', Decimal('1839.55'), Decimal('0.03'))
(311, datetime.date(2024, 4, 18), 'Bills', 'Credit Card', 'Cable', Decimal('1556.57'), Decimal('5.80'))
(312, datetime.date(2024, 4, 27), 'Subcription', 'NEFT', 'Amazonprime', Decimal('1139.10'), Decimal('2.74'))
(314, datetime.date(2024, 4, 3), 'Shopping', 'NEFT', 'Purchase New Cloth', Decimal('1758.37'), Decimal('0.05'))
(318, datetime.date(2024, 4, 20), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1419.27'), Decimal('7.38'))
(320, datetime.date(2024, 4, 24), 'Shopping', 'UPI', 'New Furnitures', Decimal('1372.42'), Decimal('4.15'))
(321, datetime.date(2024, 4, 26), 'Fees', 'UPI', 'Semfee', Decimal('1805.26'), Decimal('6.19'))
(322, datetime.date(2024, 4, 3), 'Health', 'Credit Card', 'Bought Medicine', Decimal('1201.78'), Decimal('9.97'))
(323, datetime.date(2024, 4, 11), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1563.63'), Decimal('0.56'))
(324, datetime.date(2024, 4, 6), 'Fees', 'Cash', 'Semfee', Decimal('1410.10'), Decimal('0.94'))
(325, datetime.date(2024, 4, 26), 'Subcription', 'UPI', 'Hotstar', Decimal('1539.77'), Decimal('7.79'))
(326, datetime.date(2024, 4, 8), 'Fees', 'Credit Card', 'Termfee', Decimal('1979.56'), Decimal('5.91'))
(328, datetime.date(2024, 4, 12), 'Fees', 'Cash', 'Semfee', Decimal('1653.39'), Decimal('9.74'))
(330, datetime.date(2024, 4, 14), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1815.36'), Decimal('0.29'))
(333, datetime.date(2024, 4, 16), 'Health', 'Credit Card', 'Nutrition', Decimal('1769.16'), Decimal('9.85'))
(334, datetime.date(2024, 4, 30), 'Bills', 'NEFT', 'Wifi', Decimal('1889.89'), Decimal('7.93'))
(335, datetime.date(2024, 4, 25), 'Shopping', 'Credit Card', 'New Furnitures', Decimal('1606.05'), Decimal('3.79'))
(340, datetime.date(2024, 4, 12), 'Health', 'UPI', 'Nutrition', Decimal('1089.00'), Decimal('1.70'))
(342, datetime.date(2024, 4, 23), 'Fees', 'NEFT', 'Semfee', Decimal('1772.01'), Decimal('5.62'))
(343, datetime.date(2024, 4, 1), 'Subcription', 'Cash', 'Hotstar', Decimal('1290.35'), Decimal('2.61'))
(344, datetime.date(2024, 4, 22), 'Subcription', 'UPI', 'Amazonprime', Decimal('1919.33'), Decimal('0.32'))
(345, datetime.date(2024, 4, 13), 'Shopping', 'NEFT', 'Purchase New Cloth', Decimal('1780.84'), Decimal('5.41'))
(346, datetime.date(2024, 4, 6), 'Fees', 'Cash', 'Semfee', Decimal('1259.20'), Decimal('7.27'))
(347, datetime.date(2024, 4, 26), 'Fees', 'UPI', 'Termfee', Decimal('1694.08'), Decimal('9.12'))
(349, datetime.date(2024, 4, 20), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('1633.49'), Decimal('9.57'))
(352, datetime.date(2024, 4, 8), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1666.14'), Decimal('5.81'))
(353, datetime.date(2024, 4, 26), 'Bills', 'NEFT', 'Mobile', Decimal('1477.68'), Decimal('3.18'))
(354, datetime.date(2024, 4, 2), 'Subcription', 'UPI', 'Hotstar', Decimal('1348.66'), Decimal('4.03'))
(356, datetime.date(2024, 4, 24), 'Shopping', 'Credit Card', 'Electronic Things', Decimal('1894.46'), Decimal('1.67'))
(363, datetime.date(2024, 4, 12), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1986.09'), Decimal('2.83'))
(365, datetime.date(2024, 4, 2), 'Investments', 'UPI', 'Insurance', Decimal('1727.91'), Decimal('4.77'))
(372, datetime.date(2024, 4, 16), 'Fees', 'Cash', 'Termfee', Decimal('1978.50'), Decimal('6.36'))
(373, datetime.date(2024, 4, 9), 'Fees', 'NEFT', 'Coursefee', Decimal('1446.33'), Decimal('8.17'))
(375, datetime.date(2024, 4, 20), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('1481.27'), Decimal('0.29'))
(379, datetime.date(2024, 4, 2), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1581.41'), Decimal('9.99'))
(382, datetime.date(2024, 4, 28), 'Bills', 'UPI', 'Houserent', Decimal('1932.40'), Decimal('0.27'))
(383, datetime.date(2024, 4, 26), 'Shopping', 'UPI', 'Purchase New Cloth', Decimal('1167.76'), Decimal('4.20'))
(385, datetime.date(2024, 4, 9), 'Health', 'UPI', 'Bought Medicine', Decimal('1878.62'), Decimal('2.59'))

In [15]:
#Payment UPI
Pay_Cash_query = """
SELECT * FROM per_exp_track
WHERE Paymentmode = "Cash"
"""

with connection.cursor() as cursor:
    cursor.execute(Pay_Cash_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(5, datetime.date(2024, 1, 4), 'Health', 'Cash', 'Health Drinks', Decimal('1178.74'), Decimal('9.33'))
(11, datetime.date(2024, 1, 9), 'Subcription', 'Cash', 'Amazonprime', Decimal('1550.59'), Decimal('7.93'))
(14, datetime.date(2024, 1, 8), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('607.30'), Decimal('7.01'))
(18, datetime.date(2024, 1, 26), 'Shopping', 'Cash', 'New Furnitures', Decimal('1737.12'), Decimal('7.24'))
(19, datetime.date(2024, 1, 5), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('13.46'), Decimal('0.95'))
(20, datetime.date(2024, 1, 28), 'Fees', 'Cash', 'Termfee', Decimal('403.18'), Decimal('2.37'))
(21, datetime.date(2024, 1, 26), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1352.14'), Decimal('1.02'))
(28, datetime.date(2024, 1, 23), 'Bills', 'Cash', 'Cable', Decimal('1315.76'), Decimal('9.79'))
(29, datetime.date(2024, 1, 12), 'Investments', 'Cash', 'Insurance', Decimal('1936.26'), Decimal('7.66'))
(34, datetime.date(2024, 1, 22), 'Investments', 'Cash', 'RD', Decimal('172.89'), Decimal('9.36'))
(50, datetime.date(2024, 1, 2), 'Bills', 'Cash', 'Mobile', Decimal('116.14'), Decimal('2.02'))
(54, datetime.date(2024, 1, 6), 'Subcription', 'Cash', 'Hotstar', Decimal('655.10'), Decimal('4.27'))
(55, datetime.date(2024, 1, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1479.04'), Decimal('1.96'))
(59, datetime.date(2024, 1, 11), 'Bills', 'Cash', 'EB', Decimal('736.84'), Decimal('0.79'))
(60, datetime.date(2024, 1, 24), 'Fees', 'Cash', 'Semfee', Decimal('1152.37'), Decimal('7.74'))
(66, datetime.date(2024, 1, 5), 'Shopping', 'Cash', 'New Gadgets', Decimal('1766.61'), Decimal('6.31'))
(67, datetime.date(2024, 1, 21), 'Investments', 'Cash', 'RD', Decimal('963.89'), Decimal('8.25'))
(76, datetime.date(2024, 1, 22), 'Fees', 'Cash', 'Termfee', Decimal('504.43'), Decimal('8.58'))
(78, datetime.date(2024, 1, 29), 'Shopping', 'Cash', 'Electronic Things', Decimal('1699.69'), Decimal('8.34'))
(79, datetime.date(2024, 1, 13), 'Health', 'Cash', 'Nutrition', Decimal('801.13'), Decimal('0.21'))
(80, datetime.date(2024, 1, 26), 'Shopping', 'Cash', 'Kitchen Things', Decimal('182.97'), Decimal('1.34'))
(83, datetime.date(2024, 1, 26), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1472.92'), Decimal('2.27'))
(84, datetime.date(2024, 1, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1688.80'), Decimal('0.57'))
(87, datetime.date(2024, 1, 29), 'Bills', 'Cash', 'Gas', Decimal('1903.78'), Decimal('1.28'))
(91, datetime.date(2024, 1, 25), 'Shopping', 'Cash', 'Electronic Things', Decimal('412.26'), Decimal('3.35'))
(102, datetime.date(2024, 2, 12), 'Health', 'Cash', 'Health Drinks', Decimal('1895.46'), Decimal('3.89'))
(103, datetime.date(2024, 2, 21), 'Bills', 'Cash', 'Gas', Decimal('1091.23'), Decimal('7.46'))
(104, datetime.date(2024, 2, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('421.89'), Decimal('6.13'))
(107, datetime.date(2024, 2, 9), 'Bills', 'Cash', 'EB', Decimal('1409.71'), Decimal('1.37'))
(108, datetime.date(2024, 2, 21), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('679.58'), Decimal('6.96'))
(113, datetime.date(2024, 2, 3), 'Health', 'Cash', 'Health Drinks', Decimal('1772.48'), Decimal('5.76'))
(115, datetime.date(2024, 2, 11), 'Fees', 'Cash', 'Termfee', Decimal('235.12'), Decimal('7.81'))
(122, datetime.date(2024, 2, 16), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('834.93'), Decimal('9.12'))
(128, datetime.date(2024, 2, 18), 'Shopping', 'Cash', 'Electronic Things', Decimal('1090.27'), Decimal('2.23'))
(131, datetime.date(2024, 2, 23), 'Groceries', 'Cash', 'Weekly purchase', Decimal('389.55'), Decimal('4.42'))
(132, datetime.date(2024, 2, 27), 'Bills', 'Cash', 'Gas', Decimal('1482.43'), Decimal('6.33'))
(134, datetime.date(2024, 2, 26), 'Fees', 'Cash', 'Termfee', Decimal('1288.45'), Decimal('8.89'))
(136, datetime.date(2024, 2, 25), 'Health', 'Cash', 'Gym Workout', Decimal('1177.19'), Decimal('9.59'))
(142, datetime.date(2024, 2, 29), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1930.49'), Decimal('8.88'))
(148, datetime.date(2024, 2, 8), 'Investments', 'Cash', 'RD', Decimal('1854.00'), Decimal('5.12'))
(154, datetime.date(2024, 2, 22), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1841.29'), Decimal('8.35'))
(158, datetime.date(2024, 2, 22), 'Health', 'Cash', 'Nutrition', Decimal('175.94'), Decimal('2.82'))
(168, datetime.date(2024, 2, 2), 'Groceries', 'Cash', 'Weekly purchase', Decimal('945.92'), Decimal('9.13'))
(170, datetime.date(2024, 2, 29), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1379.53'), Decimal('2.48'))
(174, datetime.date(2024, 2, 17), 'Health', 'Cash', 'Health Drinks', Decimal('895.54'), Decimal('0.41'))
(182, datetime.date(2024, 2, 22), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1128.24'), Decimal('1.71'))
(191, datetime.date(2024, 2, 18), 'Shopping', 'Cash', 'Purchase New Cloth', Decimal('855.68'), Decimal('6.03'))
(209, datetime.date(2024, 3, 15), 'Shopping', 'Cash', 'Electronic Things', Decimal('173.67'), Decimal('1.55'))
(213, datetime.date(2024, 3, 25), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('75.06'), Decimal('7.36'))
(219, datetime.date(2024, 3, 30), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1581.77'), Decimal('6.87'))
(220, datetime.date(2024, 3, 10), 'Groceries', 'Cash', 'Weekly purchase', Decimal('156.13'), Decimal('7.57'))
(225, datetime.date(2024, 3, 18), 'Health', 'Cash', 'Gym Workout', Decimal('1978.91'), Decimal('8.80'))
(227, datetime.date(2024, 3, 13), 'Groceries', 'Cash', 'Weekly purchase', Decimal('813.62'), Decimal('3.94'))
(235, datetime.date(2024, 3, 23), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('640.62'), Decimal('2.73'))
(238, datetime.date(2024, 3, 26), 'Shopping', 'Cash', 'Electronic Things', Decimal('721.12'), Decimal('1.72'))
(243, datetime.date(2024, 3, 21), 'Shopping', 'Cash', 'New Furnitures', Decimal('1780.48'), Decimal('2.07'))
(253, datetime.date(2024, 3, 29), 'Bills', 'Cash', 'Mobile', Decimal('766.45'), Decimal('8.89'))
(257, datetime.date(2024, 3, 9), 'Health', 'Cash', 'Nutrition', Decimal('306.08'), Decimal('8.56'))
(262, datetime.date(2024, 3, 29), 'Subcription', 'Cash', 'Hotstar', Decimal('501.72'), Decimal('3.18'))
(263, datetime.date(2024, 3, 10), 'Shopping', 'Cash', 'Kitchen Things', Decimal('1675.51'), Decimal('0.71'))
(280, datetime.date(2024, 3, 26), 'Subcription', 'Cash', 'Spotify', Decimal('1723.34'), Decimal('8.41'))
(286, datetime.date(2024, 3, 13), 'Fees', 'Cash', 'Termfee', Decimal('1172.72'), Decimal('7.34'))
(287, datetime.date(2024, 3, 15), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1619.89'), Decimal('0.91'))
(292, datetime.date(2024, 3, 2), 'Health', 'Cash', 'Doctor Consultation', Decimal('1850.16'), Decimal('4.11'))
(295, datetime.date(2024, 3, 3), 'Subcription', 'Cash', 'Spotify', Decimal('1740.00'), Decimal('8.48'))
(303, datetime.date(2024, 4, 19), 'Groceries', 'Cash', 'Weekly purchase', Decimal('155.12'), Decimal('7.31'))
(304, datetime.date(2024, 4, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('51.86'), Decimal('2.42'))
(306, datetime.date(2024, 4, 17), 'Shopping', 'Cash', 'New Gadgets', Decimal('575.73'), Decimal('7.86'))
(310, datetime.date(2024, 4, 1), 'Investments', 'Cash', 'Insurance', Decimal('159.28'), Decimal('8.89'))
(316, datetime.date(2024, 4, 14), 'Shopping', 'Cash', 'Electronic Things', Decimal('967.96'), Decimal('5.44'))
(317, datetime.date(2024, 4, 13), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('761.93'), Decimal('5.10'))
(324, datetime.date(2024, 4, 6), 'Fees', 'Cash', 'Semfee', Decimal('1410.10'), Decimal('0.94'))
(328, datetime.date(2024, 4, 12), 'Fees', 'Cash', 'Semfee', Decimal('1653.39'), Decimal('9.74'))
(330, datetime.date(2024, 4, 14), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1815.36'), Decimal('0.29'))
(337, datetime.date(2024, 4, 8), 'Groceries', 'Cash', 'Weekly purchase', Decimal('911.81'), Decimal('8.19'))
(343, datetime.date(2024, 4, 1), 'Subcription', 'Cash', 'Hotstar', Decimal('1290.35'), Decimal('2.61'))
(346, datetime.date(2024, 4, 6), 'Fees', 'Cash', 'Semfee', Decimal('1259.20'), Decimal('7.27'))
(360, datetime.date(2024, 4, 22), 'Subcription', 'Cash', 'Spotify', Decimal('62.21'), Decimal('8.42'))
(361, datetime.date(2024, 4, 30), 'Fees', 'Cash', 'Coursefee', Decimal('697.87'), Decimal('8.69'))
(363, datetime.date(2024, 4, 12), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1986.09'), Decimal('2.83'))
(368, datetime.date(2024, 4, 15), 'Investments', 'Cash', 'Insurance', Decimal('124.19'), Decimal('4.48'))
(372, datetime.date(2024, 4, 16), 'Fees', 'Cash', 'Termfee', Decimal('1978.50'), Decimal('6.36'))
(377, datetime.date(2024, 4, 13), 'Health', 'Cash', 'Nutrition', Decimal('231.81'), Decimal('4.02'))
(388, datetime.date(2024, 4, 10), 'Investments', 'Cash', 'Insurance', Decimal('77.56'), Decimal('1.95'))
(390, datetime.date(2024, 4, 19), 'Fees', 'Cash', 'Termfee', Decimal('1397.77'), Decimal('2.14'))
(391, datetime.date(2024, 4, 13), 'Health', 'Cash', 'Doctor Consultation', Decimal('346.80'), Decimal('5.54'))
(394, datetime.date(2024, 4, 24), 'Subcription', 'Cash', 'Hotstar', Decimal('988.98'), Decimal('3.35'))
(402, datetime.date(2024, 5, 4), 'Shopping', 'Cash', 'New Gadgets', Decimal('1399.10'), Decimal('5.27'))
(405, datetime.date(2024, 5, 30), 'Investments', 'Cash', 'Insurance', Decimal('1677.45'), Decimal('0.10'))
(406, datetime.date(2024, 5, 31), 'Shopping', 'Cash', 'New Gadgets', Decimal('1137.29'), Decimal('1.51'))
(421, datetime.date(2024, 5, 12), 'Bills', 'Cash', 'Mobile', Decimal('605.18'), Decimal('3.89'))
(423, datetime.date(2024, 5, 22), 'Subcription', 'Cash', 'Amazonprime', Decimal('831.40'), Decimal('9.50'))
(424, datetime.date(2024, 5, 18), 'Subcription', 'Cash', 'Spotify', Decimal('1693.19'), Decimal('7.71'))
(425, datetime.date(2024, 5, 1), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1573.64'), Decimal('6.34'))
(436, datetime.date(2024, 5, 26), 'Investments', 'Cash', 'RD', Decimal('675.19'), Decimal('8.78'))
(437, datetime.date(2024, 5, 6), 'Shopping', 'Cash', 'Kitchen Things', Decimal('1276.03'), Decimal('5.89'))
(438, datetime.date(2024, 5, 6), 'Health', 'Cash', 'Nutrition', Decimal('1967.02'), Decimal('0.82'))
(439, datetime.date(2024, 5, 31), 'Investments', 'Cash', 'Insurance', Decimal('1395.97'), Decimal('4.07'))
(442, datetime.date(2024, 5, 3), 'Shopping', 'Cash', 'Purchase New Cloth', Decimal('1301.74'), Decimal('9.47'))
(445, datetime.date(2024, 5, 31), 'Fees', 'Cash', 'Termfee', Decimal('1441.12'), Decimal('3.93'))
(448, datetime.date(2024, 5, 7), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1882.97'), Decimal('3.33'))
(455, datetime.date(2024, 5, 17), 'Health', 'Cash', 'Bought Medicine', Decimal('831.11'), Decimal('3.62'))
(462, datetime.date(2024, 5, 9), 'Health', 'Cash', 'Doctor Consultation', Decimal('1286.61'), Decimal('9.85'))
(469, datetime.date(2024, 5, 19), 'Investments', 'Cash', 'Insurance', Decimal('277.46'), Decimal('9.25'))
(470, datetime.date(2024, 5, 27), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('183.22'), Decimal('2.92'))
(471, datetime.date(2024, 5, 30), 'Subcription', 'Cash', 'Spotify', Decimal('514.08'), Decimal('7.34'))
(472, datetime.date(2024, 5, 25), 'Investments', 'Cash', 'Postoffice', Decimal('1116.02'), Decimal('8.12'))
(474, datetime.date(2024, 5, 4), 'Subcription', 'Cash', 'Spotify', Decimal('555.14'), Decimal('2.34'))
(491, datetime.date(2024, 5, 19), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1634.41'), Decimal('5.21'))
(493, datetime.date(2024, 5, 13), 'Investments', 'Cash', 'Insurance', Decimal('1629.15'), Decimal('4.65'))
(502, datetime.date(2024, 6, 25), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('165.89'), Decimal('8.31'))
(504, datetime.date(2024, 6, 17), 'Health', 'Cash', 'Nutrition', Decimal('429.31'), Decimal('7.03'))
(505, datetime.date(2024, 6, 24), 'Investments', 'Cash', 'RD', Decimal('1908.75'), Decimal('5.54'))
(506, datetime.date(2024, 6, 6), 'Investments', 'Cash', 'Insurance', Decimal('1328.06'), Decimal('8.52'))
(507, datetime.date(2024, 6, 22), 'Health', 'Cash', 'Nutrition', Decimal('1155.08'), Decimal('6.49'))
(509, datetime.date(2024, 6, 14), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1573.66'), Decimal('2.94'))
(511, datetime.date(2024, 6, 26), 'Investments', 'Cash', 'Postoffice', Decimal('491.05'), Decimal('0.90'))
(513, datetime.date(2024, 6, 26), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('562.37'), Decimal('4.54'))
(514, datetime.date(2024, 6, 22), 'Investments', 'Cash', 'Insurance', Decimal('1558.19'), Decimal('3.51'))
(519, datetime.date(2024, 6, 27), 'Shopping', 'Cash', 'Kitchen Things', Decimal('61.92'), Decimal('4.12'))
(522, datetime.date(2024, 6, 19), 'Bills', 'Cash', 'Gas', Decimal('1760.33'), Decimal('7.33'))
(527, datetime.date(2024, 6, 16), 'Health', 'Cash', 'Nutrition', Decimal('1270.90'), Decimal('3.06'))
(528, datetime.date(2024, 6, 18), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('402.35'), Decimal('2.63'))
(532, datetime.date(2024, 6, 25), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('773.40'), Decimal('1.03'))
(535, datetime.date(2024, 6, 11), 'Investments', 'Cash', 'Postoffice', Decimal('1695.43'), Decimal('9.74'))
(545, datetime.date(2024, 6, 30), 'Health', 'Cash', 'Nutrition', Decimal('1211.06'), Decimal('8.21'))
(550, datetime.date(2024, 6, 6), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1950.85'), Decimal('4.82'))
(562, datetime.date(2024, 6, 27), 'Bills', 'Cash', 'Houserent', Decimal('1366.13'), Decimal('5.41'))
(563, datetime.date(2024, 6, 7), 'Subcription', 'Cash', 'Amazonprime', Decimal('411.53'), Decimal('7.41'))
(565, datetime.date(2024, 6, 5), 'Subcription', 'Cash', 'Amazonprime', Decimal('1997.54'), Decimal('0.31'))
(567, datetime.date(2024, 6, 8), 'Groceries', 'Cash', 'Weekly purchase', Decimal('279.17'), Decimal('5.53'))
(569, datetime.date(2024, 6, 9), 'Health', 'Cash', 'Gym Workout', Decimal('1093.95'), Decimal('5.70'))
(573, datetime.date(2024, 6, 15), 'Health', 'Cash', 'Bought Medicine', Decimal('1886.81'), Decimal('6.55'))
(575, datetime.date(2024, 6, 19), 'Fees', 'Cash', 'Termfee', Decimal('1274.57'), Decimal('4.94'))
(588, datetime.date(2024, 6, 26), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('486.91'), Decimal('9.85'))
(589, datetime.date(2024, 6, 19), 'Fees', 'Cash', 'Semfee', Decimal('1902.98'), Decimal('6.91'))
(605, datetime.date(2024, 7, 24), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1648.41'), Decimal('9.54'))
(608, datetime.date(2024, 7, 11), 'Fees', 'Cash', 'Semfee', Decimal('1082.55'), Decimal('9.31'))
(611, datetime.date(2024, 7, 3), 'Bills', 'Cash', 'EB', Decimal('138.54'), Decimal('8.51'))
(616, datetime.date(2024, 7, 14), 'Investments', 'Cash', 'RD', Decimal('513.41'), Decimal('5.77'))
(620, datetime.date(2024, 7, 16), 'Fees', 'Cash', 'Coursefee', Decimal('164.74'), Decimal('1.37'))
(623, datetime.date(2024, 7, 20), 'Bills', 'Cash', 'Wifi', Decimal('521.83'), Decimal('7.31'))
(625, datetime.date(2024, 7, 4), 'Investments', 'Cash', 'RD', Decimal('1195.02'), Decimal('4.68'))
(626, datetime.date(2024, 7, 16), 'Investments', 'Cash', 'Insurance', Decimal('1220.55'), Decimal('7.97'))
(627, datetime.date(2024, 7, 20), 'Investments', 'Cash', 'Insurance', Decimal('697.32'), Decimal('6.54'))
(632, datetime.date(2024, 7, 4), 'Bills', 'Cash', 'Houserent', Decimal('1491.11'), Decimal('5.10'))
(638, datetime.date(2024, 7, 25), 'Fees', 'Cash', 'Semfee', Decimal('542.36'), Decimal('9.07'))
(639, datetime.date(2024, 7, 29), 'Subcription', 'Cash', 'Amazonprime', Decimal('758.23'), Decimal('5.56'))
(641, datetime.date(2024, 7, 18), 'Subcription', 'Cash', 'Hotstar', Decimal('302.88'), Decimal('1.08'))
(645, datetime.date(2024, 7, 21), 'Fees', 'Cash', 'Termfee', Decimal('1333.71'), Decimal('1.92'))
(646, datetime.date(2024, 7, 16), 'Fees', 'Cash', 'Semfee', Decimal('254.71'), Decimal('1.40'))
(654, datetime.date(2024, 7, 6), 'Fees', 'Cash', 'Coursefee', Decimal('1042.60'), Decimal('5.20'))
(659, datetime.date(2024, 7, 6), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1000.42'), Decimal('5.81'))
(672, datetime.date(2024, 7, 7), 'Health', 'Cash', 'Nutrition', Decimal('1556.12'), Decimal('5.10'))
(675, datetime.date(2024, 7, 10), 'Health', 'Cash', 'Nutrition', Decimal('1478.29'), Decimal('5.76'))
(680, datetime.date(2024, 7, 29), 'Groceries', 'Cash', 'Weekly purchase', Decimal('635.84'), Decimal('5.90'))
(688, datetime.date(2024, 7, 23), 'Bills', 'Cash', 'Cable', Decimal('699.71'), Decimal('3.74'))
(689, datetime.date(2024, 7, 3), 'Investments', 'Cash', 'RD', Decimal('153.80'), Decimal('5.53'))
(692, datetime.date(2024, 7, 21), 'Investments', 'Cash', 'Postoffice', Decimal('64.22'), Decimal('7.89'))
(705, datetime.date(2024, 8, 27), 'Shopping', 'Cash', 'New Gadgets', Decimal('1446.39'), Decimal('1.65'))
(709, datetime.date(2024, 8, 21), 'Subcription', 'Cash', 'Amazonprime', Decimal('1971.79'), Decimal('7.22'))
(712, datetime.date(2024, 8, 19), 'Shopping', 'Cash', 'New Gadgets', Decimal('1496.62'), Decimal('7.63'))
(717, datetime.date(2024, 8, 19), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1642.60'), Decimal('8.20'))
(719, datetime.date(2024, 8, 2), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('50.26'), Decimal('4.29'))
(721, datetime.date(2024, 8, 29), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('883.96'), Decimal('9.85'))
(724, datetime.date(2024, 8, 26), 'Shopping', 'Cash', 'New Furnitures', Decimal('614.29'), Decimal('8.49'))
(726, datetime.date(2024, 8, 31), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1172.65'), Decimal('3.45'))
(729, datetime.date(2024, 8, 6), 'Groceries', 'Cash', 'Weekly purchase', Decimal('261.74'), Decimal('0.97'))
(736, datetime.date(2024, 8, 17), 'Shopping', 'Cash', 'Electronic Things', Decimal('979.18'), Decimal('9.51'))
(745, datetime.date(2024, 8, 16), 'Bills', 'Cash', 'Mobile', Decimal('635.81'), Decimal('6.39'))
(754, datetime.date(2024, 8, 2), 'Health', 'Cash', 'Bought Medicine', Decimal('143.97'), Decimal('1.78'))
(755, datetime.date(2024, 8, 20), 'Health', 'Cash', 'Nutrition', Decimal('1308.21'), Decimal('4.62'))
(756, datetime.date(2024, 8, 26), 'Bills', 'Cash', 'Wifi', Decimal('130.78'), Decimal('0.06'))
(760, datetime.date(2024, 8, 15), 'Health', 'Cash', 'Gym Workout', Decimal('42.01'), Decimal('9.19'))
(764, datetime.date(2024, 8, 21), 'Shopping', 'Cash', 'Electronic Things', Decimal('1919.54'), Decimal('9.68'))
(783, datetime.date(2024, 8, 4), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1402.23'), Decimal('8.97'))
(784, datetime.date(2024, 8, 23), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1866.66'), Decimal('7.66'))
(785, datetime.date(2024, 8, 15), 'Health', 'Cash', 'Nutrition', Decimal('1945.72'), Decimal('7.31'))
(788, datetime.date(2024, 8, 18), 'Bills', 'Cash', 'Houserent', Decimal('1330.42'), Decimal('1.05'))
(790, datetime.date(2024, 8, 28), 'Groceries', 'Cash', 'Weekly purchase', Decimal('43.32'), Decimal('1.11'))
(794, datetime.date(2024, 8, 20), 'Shopping', 'Cash', 'Kitchen Things', Decimal('903.34'), Decimal('1.98'))
(796, datetime.date(2024, 8, 14), 'Health', 'Cash', 'Doctor Consultation', Decimal('1909.20'), Decimal('8.69'))
(803, datetime.date(2024, 9, 26), 'Groceries', 'Cash', 'Weekly purchase', Decimal('221.45'), Decimal('2.42'))
(804, datetime.date(2024, 9, 22), 'Fees', 'Cash', 'Semfee', Decimal('1314.39'), Decimal('7.38'))
(806, datetime.date(2024, 9, 7), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1948.12'), Decimal('3.62'))
(822, datetime.date(2024, 9, 13), 'Fees', 'Cash', 'Termfee', Decimal('1572.36'), Decimal('6.98'))
(825, datetime.date(2024, 9, 12), 'Subcription', 'Cash', 'Amazonprime', Decimal('1284.34'), Decimal('0.32'))
(828, datetime.date(2024, 9, 30), 'Bills', 'Cash', 'Wifi', Decimal('1896.25'), Decimal('2.97'))
(831, datetime.date(2024, 9, 6), 'Investments', 'Cash', 'Insurance', Decimal('1949.70'), Decimal('2.11'))
(835, datetime.date(2024, 9, 4), 'Shopping', 'Cash', 'Kitchen Things', Decimal('672.04'), Decimal('1.05'))

In [17]:
#Amount Desc Order
Desc_Amt_query = """
SELECT * FROM per_exp_track
ORDER BY Amount DESC 
LIMIT 20
"""

with connection.cursor() as cursor:
    cursor.execute(Desc_Amt_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(258, datetime.date(2024, 3, 26), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1999.62'), Decimal('8.91'))
(991, datetime.date(2024, 10, 10), 'Fees', 'NEFT', 'Coursefee', Decimal('1998.35'), Decimal('7.47'))
(565, datetime.date(2024, 6, 5), 'Subcription', 'Cash', 'Amazonprime', Decimal('1997.54'), Decimal('0.31'))
(496, datetime.date(2024, 5, 13), 'Health', 'Credit Card', 'Doctor Consultation', Decimal('1995.94'), Decimal('8.61'))
(930, datetime.date(2024, 10, 10), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1993.89'), Decimal('8.46'))
(909, datetime.date(2024, 10, 25), 'Bills', 'Credit Card', 'Gas', Decimal('1992.32'), Decimal('6.51'))
(114, datetime.date(2024, 2, 16), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1992.11'), Decimal('0.05'))
(30, datetime.date(2024, 1, 3), 'Shopping', 'Credit Card', 'Kitchen Things', Decimal('1990.73'), Decimal('2.49'))
(1093, datetime.date(2024, 11, 24), 'Investments', 'Cash', 'Postoffice', Decimal('1989.20'), Decimal('9.77'))
(713, datetime.date(2024, 8, 6), 'Shopping', 'NEFT', 'Purchase New Cloth', Decimal('1988.62'), Decimal('8.94'))
(1087, datetime.date(2024, 11, 21), 'Fees', 'Credit Card', 'Coursefee', Decimal('1987.57'), Decimal('5.65'))
(432, datetime.date(2024, 5, 25), 'Fees', 'UPI', 'Coursefee', Decimal('1986.25'), Decimal('6.82'))
(363, datetime.date(2024, 4, 12), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1986.09'), Decimal('2.83'))
(222, datetime.date(2024, 3, 8), 'Bills', 'NEFT', 'Houserent', Decimal('1983.47'), Decimal('0.26'))
(786, datetime.date(2024, 8, 19), 'Investments', 'Credit Card', 'RD', Decimal('1981.04'), Decimal('7.69'))
(326, datetime.date(2024, 4, 8), 'Fees', 'Credit Card', 'Termfee', Decimal('1979.56'), Decimal('5.91'))
(225, datetime.date(2024, 3, 18), 'Health', 'Cash', 'Gym Workout', Decimal('1978.91'), Decimal('8.80'))
(372, datetime.date(2024, 4, 16), 'Fees', 'Cash', 'Termfee', Decimal('1978.50'), Decimal('6.36'))
(553, datetime.date(2024, 6, 4), 'Subcription', 'Credit Card', 'Hotstar', Decimal('1975.67'), Decimal('2.22'))
(38, datetime.date(2024, 1, 1), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1974.14'), Decimal('9.15'))

In [21]:
#Categorie Wise Transaction
category_query = """
SELECT Categories, COUNT(*) AS Trancount 
FROM per_exp_track
GROUP BY Categories
ORDER BY Categories ASC
"""

with connection.cursor() as cursor:
    cursor.execute(category_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('Bills', 146)
('Fees', 155)
('Groceries', 153)
('Health', 161)
('Investments', 152)
('Shopping', 149)
('Subcription', 140)
('Subscription', 2)
('Vegetables', 145)

In [20]:
#Categorie Wise Transaction
category_query = """
SELECT Categories, COUNT(*) AS Trancount
FROM per_exp_track
GROUP BY Categories
UNION ALL
SELECT 'Total' AS Categories, COUNT(*) AS Trancount
FROM per_exp_track
"""

with connection.cursor() as cursor:
    cursor.execute(category_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('Subcription', 140)
('Vegetables', 145)
('Shopping', 149)
('Health', 161)
('Bills', 146)
('Groceries', 153)
('Fees', 155)
('Investments', 152)
('Subscription', 2)
('Total', 1203)

In [9]:
#Categorie Wise Exp Amount
category_Exp_Amt_query = """
SELECT Categories, SUM(Amount) AS Total, COUNT(*) AS Trancount
FROM per_exp_track
GROUP BY Categories
"""

with connection.cursor() as cursor:
    cursor.execute(category_Exp_Amt_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('Subcription', Decimal('144708.45'), 139)
('Vegetables', Decimal('137316.74'), 145)
('Shopping', Decimal('149836.77'), 149)
('Health', Decimal('158538.72'), 161)
('Bills', Decimal('152434.81'), 146)
('Groceries', Decimal('151213.95'), 153)
('Fees', Decimal('159698.07'), 155)
('Investments', Decimal('147527.54'), 152)
('Subscription', Decimal('1278.00'), 2)

In [58]:
#Paymentmode Wise Transaction
paymode_count_query = """
SELECT Paymentmode, COUNT(*) AS Trancount 
FROM per_exp_track
GROUP BY Paymentmode
UNION ALL
SELECT 'Total' AS Paymentmode, COUNT(*) AS Trancount
FROM per_exp_track
"""

with connection.cursor() as cursor:
    cursor.execute(paymode_count_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('Credit Card', 300)
('UPI', 301)
('Cash', 268)
('NEFT', 333)
('Total', 1202)

In [50]:
#Group by Month
group_month_query = """
SELECT Categories, MONTH(Date) AS Month, COUNT(*) AS Count, SUM(Amount) AS Totalexp 
FROM per_exp_track
GROUP BY Categories, MONTH(Date)
ORDER BY Categories, Month
"""

with connection.cursor() as cursor:
    cursor.execute(group_month_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('Bills', 1, 13, Decimal('10875.33'))
('Bills', 2, 12, Decimal('12522.41'))
('Bills', 3, 13, Decimal('12476.03'))
('Bills', 4, 10, Decimal('11334.67'))
('Bills', 5, 10, Decimal('10381.95'))
('Bills', 6, 8, Decimal('8946.87'))
('Bills', 7, 15, Decimal('14083.25'))
('Bills', 8, 11, Decimal('10655.46'))
('Bills', 9, 16, Decimal('18541.25'))
('Bills', 10, 14, Decimal('14762.89'))
('Bills', 11, 12, Decimal('13710.75'))
('Bills', 12, 12, Decimal('14143.95'))
('Fees', 1, 10, Decimal('12001.08'))
('Fees', 2, 13, Decimal('11121.35'))
('Fees', 3, 6, Decimal('5258.50'))
('Fees', 4, 21, Decimal('24057.01'))
('Fees', 5, 14, Decimal('18753.62'))
('Fees', 6, 8, Decimal('9289.29'))
('Fees', 7, 12, Decimal('8388.88'))
('Fees', 8, 7, Decimal('6257.57'))
('Fees', 9, 10, Decimal('10371.90'))
('Fees', 10, 14, Decimal('13376.80'))
('Fees', 11, 26, Decimal('27871.88'))
('Fees', 12, 14, Decimal('12950.19'))
('Groceries', 1, 11, Decimal('12669.97'))
('Groceries', 2, 13, Decimal('10423.51'))
('Groceries', 3, 15, Decimal('15114.49'))
('Groceries', 4, 14, Decimal('10647.35'))
('Groceries', 5, 12, Decimal('13656.65'))
('Groceries', 6, 10, Decimal('9778.45'))
('Groceries', 7, 13, Decimal('12795.41'))
('Groceries', 8, 15, Decimal('14269.35'))
('Groceries', 9, 11, Decimal('11265.39'))
('Groceries', 10, 10, Decimal('13445.39'))
('Groceries', 11, 15, Decimal('13921.25'))
('Groceries', 12, 14, Decimal('13226.74'))
('Health', 1, 12, Decimal('10573.52'))
('Health', 2, 14, Decimal('12734.16'))
('Health', 3, 15, Decimal('16463.84'))
('Health', 4, 12, Decimal('10912.90'))
('Health', 5, 15, Decimal('18171.58'))
('Health', 6, 17, Decimal('20562.09'))
('Health', 7, 7, Decimal('7395.90'))
('Health', 8, 18, Decimal('17472.15'))
('Health', 9, 13, Decimal('11498.73'))
('Health', 10, 8, Decimal('8672.11'))
('Health', 11, 12, Decimal('9573.14'))
('Health', 12, 18, Decimal('14508.60'))
('Investments', 1, 11, Decimal('7520.84'))
('Investments', 2, 13, Decimal('14922.57'))
('Investments', 3, 14, Decimal('15761.82'))
('Investments', 4, 10, Decimal('6587.74'))
('Investments', 5, 16, Decimal('16405.97'))
('Investments', 6, 17, Decimal('20663.07'))
('Investments', 7, 9, Decimal('5634.71'))
('Investments', 8, 11, Decimal('11690.44'))
('Investments', 9, 15, Decimal('10798.65'))
('Investments', 10, 17, Decimal('17560.25'))
('Investments', 11, 6, Decimal('8468.22'))
('Investments', 12, 13, Decimal('11513.26'))
('Shopping', 1, 17, Decimal('15718.15'))
('Shopping', 2, 18, Decimal('19021.57'))
('Shopping', 3, 14, Decimal('15818.74'))
('Shopping', 4, 9, Decimal('11438.82'))
('Shopping', 5, 9, Decimal('9358.40'))
('Shopping', 6, 7, Decimal('8053.73'))
('Shopping', 7, 14, Decimal('12189.10'))
('Shopping', 8, 15, Decimal('16493.89'))
('Shopping', 9, 12, Decimal('11832.34'))
('Shopping', 10, 11, Decimal('7730.38'))
('Shopping', 11, 10, Decimal('9476.21'))
('Shopping', 12, 13, Decimal('12705.44'))
('Subcription', 1, 11, Decimal('13513.72'))
('Subcription', 2, 5, Decimal('5053.67'))
('Subcription', 3, 9, Decimal('11939.09'))
('Subcription', 4, 13, Decimal('12469.87'))
('Subcription', 5, 12, Decimal('10085.71'))
('Subcription', 6, 17, Decimal('18570.38'))
('Subcription', 7, 16, Decimal('15207.22'))
('Subcription', 8, 12, Decimal('13833.17'))
('Subcription', 9, 13, Decimal('14064.90'))
('Subcription', 10, 10, Decimal('9056.16'))
('Subcription', 11, 11, Decimal('13463.56'))
('Subcription', 12, 10, Decimal('7451.00'))
('Subscription', 6, 2, Decimal('1278.00'))
('Vegetables', 1, 15, Decimal('15546.01'))
('Vegetables', 2, 12, Decimal('11440.68'))
('Vegetables', 3, 14, Decimal('14160.34'))
('Vegetables', 4, 11, Decimal('11120.38'))
('Vegetables', 5, 12, Decimal('12911.04'))
('Vegetables', 6, 16, Decimal('10850.45'))
('Vegetables', 7, 14, Decimal('15351.73'))
('Vegetables', 8, 11, Decimal('8395.13'))
('Vegetables', 9, 10, Decimal('9596.95'))
('Vegetables', 10, 16, Decimal('15038.58'))
('Vegetables', 11, 8, Decimal('7733.66'))
('Vegetables', 12, 6, Decimal('5171.79'))

In [15]:
#May Month Retrieve Data
may_month_query = """
SELECT * FROM per_exp_track
WHERE Date BETWEEN '2024-05-01' AND '2024-05-31'
"""

with connection.cursor() as cursor:
    cursor.execute(may_month_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(401, datetime.date(2024, 5, 26), 'Fees', 'UPI', 'Termfee', Decimal('1000.10'), Decimal('0.66'))
(402, datetime.date(2024, 5, 4), 'Shopping', 'Cash', 'New Gadgets', Decimal('1399.10'), Decimal('5.27'))
(403, datetime.date(2024, 5, 25), 'Health', 'UPI', 'Nutrition', Decimal('895.09'), Decimal('1.92'))
(404, datetime.date(2024, 5, 18), 'Fees', 'NEFT', 'Termfee', Decimal('1644.44'), Decimal('5.34'))
(405, datetime.date(2024, 5, 30), 'Investments', 'Cash', 'Insurance', Decimal('1677.45'), Decimal('0.10'))
(406, datetime.date(2024, 5, 31), 'Shopping', 'Cash', 'New Gadgets', Decimal('1137.29'), Decimal('1.51'))
(407, datetime.date(2024, 5, 18), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1633.83'), Decimal('9.22'))
(408, datetime.date(2024, 5, 6), 'Bills', 'UPI', 'Wifi', Decimal('1677.11'), Decimal('2.67'))
(409, datetime.date(2024, 5, 13), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('319.90'), Decimal('9.71'))
(410, datetime.date(2024, 5, 28), 'Bills', 'UPI', 'Gas', Decimal('263.95'), Decimal('2.18'))
(411, datetime.date(2024, 5, 23), 'Fees', 'NEFT', 'Semfee', Decimal('479.10'), Decimal('0.73'))
(412, datetime.date(2024, 5, 11), 'Shopping', 'NEFT', 'Electronic Things', Decimal('1291.57'), Decimal('4.45'))
(413, datetime.date(2024, 5, 1), 'Health', 'Credit Card', 'Bought Medicine', Decimal('631.47'), Decimal('0.30'))
(414, datetime.date(2024, 5, 25), 'Subcription', 'UPI', 'Amazonprime', Decimal('350.66'), Decimal('0.71'))
(415, datetime.date(2024, 5, 10), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('684.06'), Decimal('6.96'))
(416, datetime.date(2024, 5, 6), 'Bills', 'NEFT', 'Mobile', Decimal('1722.76'), Decimal('2.53'))
(417, datetime.date(2024, 5, 26), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('389.96'), Decimal('0.65'))
(418, datetime.date(2024, 5, 3), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('516.28'), Decimal('9.96'))
(419, datetime.date(2024, 5, 25), 'Health', 'UPI', 'Doctor Consultation', Decimal('575.39'), Decimal('5.39'))
(420, datetime.date(2024, 5, 2), 'Shopping', 'Credit Card', 'Purchase New Cloth', Decimal('996.19'), Decimal('5.30'))
(421, datetime.date(2024, 5, 12), 'Bills', 'Cash', 'Mobile', Decimal('605.18'), Decimal('3.89'))
(422, datetime.date(2024, 5, 5), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1674.24'), Decimal('8.91'))
(423, datetime.date(2024, 5, 22), 'Subcription', 'Cash', 'Amazonprime', Decimal('831.40'), Decimal('9.50'))
(424, datetime.date(2024, 5, 18), 'Subcription', 'Cash', 'Spotify', Decimal('1693.19'), Decimal('7.71'))
(425, datetime.date(2024, 5, 1), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1573.64'), Decimal('6.34'))
(426, datetime.date(2024, 5, 14), 'Fees', 'NEFT', 'Semfee', Decimal('1317.80'), Decimal('7.90'))
(427, datetime.date(2024, 5, 4), 'Investments', 'Credit Card', 'RD', Decimal('1779.21'), Decimal('3.27'))
(428, datetime.date(2024, 5, 27), 'Bills', 'Credit Card', 'Wifi', Decimal('1186.28'), Decimal('4.62'))
(429, datetime.date(2024, 5, 29), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1613.26'), Decimal('0.56'))
(430, datetime.date(2024, 5, 16), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1334.94'), Decimal('9.83'))
(431, datetime.date(2024, 5, 30), 'Groceries', 'UPI', 'Weekly purchase', Decimal('622.86'), Decimal('9.32'))
(432, datetime.date(2024, 5, 25), 'Fees', 'UPI', 'Coursefee', Decimal('1986.25'), Decimal('6.82'))
(433, datetime.date(2024, 5, 25), 'Fees', 'NEFT', 'Semfee', Decimal('1875.63'), Decimal('9.83'))
(434, datetime.date(2024, 5, 3), 'Subcription', 'NEFT', 'Hotstar', Decimal('234.68'), Decimal('3.84'))
(435, datetime.date(2024, 5, 7), 'Investments', 'NEFT', 'Insurance', Decimal('1426.88'), Decimal('9.92'))
(436, datetime.date(2024, 5, 26), 'Investments', 'Cash', 'RD', Decimal('675.19'), Decimal('8.78'))
(437, datetime.date(2024, 5, 6), 'Shopping', 'Cash', 'Kitchen Things', Decimal('1276.03'), Decimal('5.89'))
(438, datetime.date(2024, 5, 6), 'Health', 'Cash', 'Nutrition', Decimal('1967.02'), Decimal('0.82'))
(439, datetime.date(2024, 5, 31), 'Investments', 'Cash', 'Insurance', Decimal('1395.97'), Decimal('4.07'))
(440, datetime.date(2024, 5, 7), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1098.15'), Decimal('7.76'))
(441, datetime.date(2024, 5, 28), 'Investments', 'UPI', 'RD', Decimal('441.32'), Decimal('9.10'))
(442, datetime.date(2024, 5, 3), 'Shopping', 'Cash', 'Purchase New Cloth', Decimal('1301.74'), Decimal('9.47'))
(443, datetime.date(2024, 5, 14), 'Fees', 'Credit Card', 'Coursefee', Decimal('1734.36'), Decimal('9.70'))
(444, datetime.date(2024, 5, 8), 'Investments', 'Credit Card', 'Insurance', Decimal('574.42'), Decimal('2.31'))
(445, datetime.date(2024, 5, 31), 'Fees', 'Cash', 'Termfee', Decimal('1441.12'), Decimal('3.93'))
(446, datetime.date(2024, 5, 9), 'Shopping', 'NEFT', 'Purchase New Cloth', Decimal('98.78'), Decimal('8.40'))
(447, datetime.date(2024, 5, 13), 'Subcription', 'UPI', 'Hotstar', Decimal('692.66'), Decimal('4.09'))
(448, datetime.date(2024, 5, 7), 'Groceries', 'Cash', 'Weekly purchase', Decimal('1882.97'), Decimal('3.33'))
(449, datetime.date(2024, 5, 25), 'Health', 'UPI', 'Health Drinks', Decimal('293.55'), Decimal('0.36'))
(450, datetime.date(2024, 5, 19), 'Bills', 'Credit Card', 'Houserent', Decimal('265.64'), Decimal('4.52'))
(451, datetime.date(2024, 5, 22), 'Health', 'NEFT', 'Nutrition', Decimal('1969.91'), Decimal('8.08'))
(452, datetime.date(2024, 5, 1), 'Fees', 'NEFT', 'Termfee', Decimal('1234.65'), Decimal('4.11'))
(453, datetime.date(2024, 5, 19), 'Subcription', 'NEFT', 'Spotify', Decimal('643.70'), Decimal('1.89'))
(454, datetime.date(2024, 5, 28), 'Health', 'Credit Card', 'Nutrition', Decimal('620.26'), Decimal('3.91'))
(455, datetime.date(2024, 5, 17), 'Health', 'Cash', 'Bought Medicine', Decimal('831.11'), Decimal('3.62'))
(456, datetime.date(2024, 5, 17), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1317.81'), Decimal('7.65'))
(457, datetime.date(2024, 5, 14), 'Bills', 'NEFT', 'Cable', Decimal('1645.94'), Decimal('9.47'))
(458, datetime.date(2024, 5, 2), 'Bills', 'NEFT', 'Mobile', Decimal('530.46'), Decimal('8.14'))
(459, datetime.date(2024, 5, 3), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1623.81'), Decimal('0.84'))
(460, datetime.date(2024, 5, 15), 'Investments', 'UPI', 'Postoffice', Decimal('953.87'), Decimal('9.49'))
(461, datetime.date(2024, 5, 16), 'Health', 'Credit Card', 'Nutrition', Decimal('67.33'), Decimal('2.59'))
(462, datetime.date(2024, 5, 9), 'Health', 'Cash', 'Doctor Consultation', Decimal('1286.61'), Decimal('9.85'))
(463, datetime.date(2024, 5, 9), 'Groceries', 'UPI', 'Weekly purchase', Decimal('709.17'), Decimal('1.45'))
(464, datetime.date(2024, 5, 31), 'Investments', 'Credit Card', 'Insurance', Decimal('472.15'), Decimal('8.20'))
(465, datetime.date(2024, 5, 5), 'Fees', 'NEFT', 'Termfee', Decimal('1857.18'), Decimal('2.87'))
(466, datetime.date(2024, 5, 14), 'Health', 'NEFT', 'Gym Workout', Decimal('1962.67'), Decimal('0.83'))
(467, datetime.date(2024, 5, 4), 'Health', 'UPI', 'Bought Medicine', Decimal('1842.77'), Decimal('3.53'))
(468, datetime.date(2024, 5, 27), 'Health', 'Credit Card', 'Bought Medicine', Decimal('1715.66'), Decimal('4.23'))
(469, datetime.date(2024, 5, 19), 'Investments', 'Cash', 'Insurance', Decimal('277.46'), Decimal('9.25'))
(470, datetime.date(2024, 5, 27), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('183.22'), Decimal('2.92'))
(471, datetime.date(2024, 5, 30), 'Subcription', 'Cash', 'Spotify', Decimal('514.08'), Decimal('7.34'))
(472, datetime.date(2024, 5, 25), 'Investments', 'Cash', 'Postoffice', Decimal('1116.02'), Decimal('8.12'))
(473, datetime.date(2024, 5, 19), 'Fees', 'Credit Card', 'Semfee', Decimal('466.22'), Decimal('1.11'))
(474, datetime.date(2024, 5, 4), 'Subcription', 'Cash', 'Spotify', Decimal('555.14'), Decimal('2.34'))
(475, datetime.date(2024, 5, 28), 'Bills', 'UPI', 'Houserent', Decimal('1946.61'), Decimal('4.00'))
(476, datetime.date(2024, 5, 3), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('629.61'), Decimal('5.94'))
(477, datetime.date(2024, 5, 3), 'Subcription', 'UPI', 'Hotstar', Decimal('1688.39'), Decimal('2.84'))
(478, datetime.date(2024, 5, 15), 'Subcription', 'UPI', 'Spotify', Decimal('1537.48'), Decimal('4.40'))
(479, datetime.date(2024, 5, 30), 'Shopping', 'Credit Card', 'Electronic Things', Decimal('871.09'), Decimal('3.08'))
(480, datetime.date(2024, 5, 2), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1669.47'), Decimal('5.56'))
(481, datetime.date(2024, 5, 10), 'Bills', 'Credit Card', 'Gas', Decimal('538.02'), Decimal('8.09'))
(482, datetime.date(2024, 5, 22), 'Health', 'UPI', 'Doctor Consultation', Decimal('1516.80'), Decimal('9.49'))
(483, datetime.date(2024, 5, 25), 'Investments', 'UPI', 'Insurance', Decimal('328.44'), Decimal('3.90'))
(484, datetime.date(2024, 5, 28), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1620.10'), Decimal('2.49'))
(485, datetime.date(2024, 5, 3), 'Vegetables', 'UPI', 'Weekly purchase', Decimal('1478.79'), Decimal('6.18'))
(486, datetime.date(2024, 5, 25), 'Investments', 'Credit Card', 'Postoffice', Decimal('1544.99'), Decimal('2.84'))
(487, datetime.date(2024, 5, 8), 'Investments', 'UPI', 'Postoffice', Decimal('1226.12'), Decimal('2.02'))
(488, datetime.date(2024, 5, 12), 'Fees', 'Credit Card', 'Termfee', Decimal('1491.49'), Decimal('6.93'))
(489, datetime.date(2024, 5, 13), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('944.65'), Decimal('2.89'))
(490, datetime.date(2024, 5, 4), 'Fees', 'NEFT', 'Semfee', Decimal('1841.20'), Decimal('4.42'))
(491, datetime.date(2024, 5, 19), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('1634.41'), Decimal('5.21'))
(492, datetime.date(2024, 5, 10), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('537.14'), Decimal('5.85'))
(493, datetime.date(2024, 5, 13), 'Investments', 'Cash', 'Insurance', Decimal('1629.15'), Decimal('4.65'))
(494, datetime.date(2024, 5, 26), 'Subcription', 'UPI', 'Hotstar', Decimal('972.10'), Decimal('7.97'))
(495, datetime.date(2024, 5, 24), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('875.42'), Decimal('3.26'))
(496, datetime.date(2024, 5, 13), 'Health', 'Credit Card', 'Doctor Consultation', Decimal('1995.94'), Decimal('8.61'))
(497, datetime.date(2024, 5, 18), 'Subcription', 'NEFT', 'Hotstar', Decimal('372.23'), Decimal('0.26'))
(498, datetime.date(2024, 5, 4), 'Investments', 'UPI', 'RD', Decimal('887.33'), Decimal('6.78'))
(499, datetime.date(2024, 5, 11), 'Fees', 'NEFT', 'Termfee', Decimal('384.08'), Decimal('4.63'))
(500, datetime.date(2024, 5, 26), 'Shopping', 'UPI', 'Kitchen Things', Decimal('986.61'), Decimal('1.69'))

In [10]:
#Insert Single Data
insert_data_query = """
INSERT INTO per_exp_track (Date, Categories, Paymentmode, Description, Amount, Cashback)
VALUES ('2024-06-12', 'Subcription', 'NEFT', 'Netflix', 639.00, 5.00) 
"""

with connection.cursor() as cursor:
    cursor.execute(insert_data_query) 
    result = cursor.fetchall()
    connection.commit()
    print(f"{cursor.rowcount} row(s) updated successfully.")

1 row(s) updated successfully.

In [11]:
#Update Data
update_data_query = """
UPDATE per_exp_track 
SET Paymentmode = 'UPI'
WHERE Description = 'Netflix' AND Date ='2024-06-12'  
"""

with connection.cursor() as cursor:
    cursor.execute(update_data_query) 
    result = cursor.fetchall()
    connection.commit()
    print(f"{cursor.rowcount} row(s) updated successfully.")

2 row(s) updated successfully.

In [12]:
#Specific Month Retrieve Data
Dec_month_query = """
SELECT * FROM per_exp_track
WHERE MONTH(Date) = 12 AND YEAR(Date) = 2024
LIMIT 10
"""

with connection.cursor() as cursor:
    cursor.execute(Dec_month_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(1101, datetime.date(2024, 12, 8), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('1713.52'), Decimal('5.27'))
(1102, datetime.date(2024, 12, 29), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1517.26'), Decimal('6.15'))
(1103, datetime.date(2024, 12, 17), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('24.64'), Decimal('9.77'))
(1104, datetime.date(2024, 12, 8), 'Health', 'NEFT', 'Doctor Consultation', Decimal('1572.33'), Decimal('0.77'))
(1105, datetime.date(2024, 12, 23), 'Shopping', 'Cash', 'New Furnitures', Decimal('888.74'), Decimal('5.02'))
(1106, datetime.date(2024, 12, 20), 'Subcription', 'Credit Card', 'Hotstar', Decimal('210.51'), Decimal('5.54'))
(1107, datetime.date(2024, 12, 23), 'Fees', 'Cash', 'Termfee', Decimal('449.44'), Decimal('5.24'))
(1108, datetime.date(2024, 12, 20), 'Shopping', 'Credit Card', 'New Gadgets', Decimal('1411.17'), Decimal('4.01'))
(1109, datetime.date(2024, 12, 23), 'Fees', 'NEFT', 'Coursefee', Decimal('1598.71'), Decimal('6.94'))
(1110, datetime.date(2024, 12, 15), 'Subcription', 'Credit Card', 'Hotstar', Decimal('758.78'), Decimal('7.82'))

In [11]:
#Most Recent Exp for the date
Rec_date_query = """
SELECT * FROM per_exp_track
ORDER BY Date DESC
LIMIT 10
"""

with connection.cursor() as cursor:
    cursor.execute(Rec_date_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(1172, datetime.date(2024, 12, 30), 'Health', 'UPI', 'Health Drinks', Decimal('49.59'), Decimal('3.33'))
(1170, datetime.date(2024, 12, 30), 'Health', 'NEFT', 'Gym Workout', Decimal('253.52'), Decimal('7.90'))
(1142, datetime.date(2024, 12, 30), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('915.54'), Decimal('2.73'))
(1131, datetime.date(2024, 12, 29), 'Fees', 'NEFT', 'Coursefee', Decimal('1456.27'), Decimal('2.31'))
(1166, datetime.date(2024, 12, 29), 'Vegetables', 'Cash', 'Weekly purchase', Decimal('731.18'), Decimal('8.86'))
(1102, datetime.date(2024, 12, 29), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1517.26'), Decimal('6.15'))
(1140, datetime.date(2024, 12, 29), 'Groceries', 'UPI', 'Weekly purchase', Decimal('1647.31'), Decimal('9.75'))
(1141, datetime.date(2024, 12, 29), 'Health', 'NEFT', 'Health Drinks', Decimal('1446.90'), Decimal('4.30'))
(1132, datetime.date(2024, 12, 28), 'Vegetables', 'NEFT', 'Weekly purchase', Decimal('1206.81'), Decimal('7.21'))
(1129, datetime.date(2024, 12, 28), 'Subcription', 'NEFT', 'Spotify', Decimal('852.89'), Decimal('0.19'))

In [10]:
#Most Recent Exp for the Amount
Rec_exp_query = """
SELECT * FROM per_exp_track
ORDER BY Amount DESC
LIMIT 10
"""

with connection.cursor() as cursor:
    cursor.execute(Rec_exp_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(258, datetime.date(2024, 3, 26), 'Groceries', 'NEFT', 'Weekly purchase', Decimal('1999.62'), Decimal('8.91'))
(991, datetime.date(2024, 10, 10), 'Fees', 'NEFT', 'Coursefee', Decimal('1998.35'), Decimal('7.47'))
(565, datetime.date(2024, 6, 5), 'Subcription', 'Cash', 'Amazonprime', Decimal('1997.54'), Decimal('0.31'))
(496, datetime.date(2024, 5, 13), 'Health', 'Credit Card', 'Doctor Consultation', Decimal('1995.94'), Decimal('8.61'))
(930, datetime.date(2024, 10, 10), 'Vegetables', 'Credit Card', 'Weekly purchase', Decimal('1993.89'), Decimal('8.46'))
(909, datetime.date(2024, 10, 25), 'Bills', 'Credit Card', 'Gas', Decimal('1992.32'), Decimal('6.51'))
(114, datetime.date(2024, 2, 16), 'Groceries', 'Credit Card', 'Weekly purchase', Decimal('1992.11'), Decimal('0.05'))
(30, datetime.date(2024, 1, 3), 'Shopping', 'Credit Card', 'Kitchen Things', Decimal('1990.73'), Decimal('2.49'))
(1093, datetime.date(2024, 11, 24), 'Investments', 'Cash', 'Postoffice', Decimal('1989.20'), Decimal('9.77'))
(713, datetime.date(2024, 8, 6), 'Shopping', 'NEFT', 'Purchase New Cloth', Decimal('1988.62'), Decimal('8.94'))

In [9]:
#Concat the Categories and Pamentmode
concat_query = """
SELECT CONCAT(Paymentmode, ' - ', Categories) AS Combined_Column, Amount 
FROM per_exp_track 
LIMIT 10
"""

with connection.cursor() as cursor:
    cursor.execute(concat_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

('Credit Card - Subcription', Decimal('1894.91'))
('UPI - Vegetables', Decimal('385.85'))
('UPI - Shopping', Decimal('962.18'))
('UPI - Vegetables', Decimal('1604.39'))
('Cash - Health', Decimal('1178.74'))
('NEFT - Shopping', Decimal('812.80'))
('NEFT - Bills', Decimal('1732.55'))
('Credit Card - Groceries', Decimal('818.45'))
('UPI - Vegetables', Decimal('1120.84'))
('NEFT - Subcription', Decimal('1007.73'))

In [51]:
#Shopping Expenses
shop_exp_query = """
SELECT COUNT(*) AS total_expenses, SUM(Amount) 
FROM per_exp_track 
WHERE Categories='shopping'
"""

with connection.cursor() as cursor:
    cursor.execute(shop_exp_query)
    result = cursor.fetchall()
    connection.commit()
    for row in result:
        print(row)

(149, Decimal('149836.77'))